#  Lambda

In [1]:
def square(x,y):
    result=x*y
    return(result)

In [2]:
square(2,2)

4

In [9]:
list1=[1,2,3,4,5,6]
list2=[]


for n in list1 :
    x=n**2
    list2.append(x)
list2

[1, 4, 9, 16, 25, 36]

In [21]:
def even_num(num):
    return num%2==0
lists=[1,2,3,4,5,6,87,8,97,4,4,8,1,65,4979]
list1=[]

for n in lists:
    if even_num(n) == True :
        list1.append(n)
list1

[2, 4, 6, 8, 4, 4, 8]

## using filter (list & know true or false)

In [23]:
 def even_num(num):
        return num %2==0
nums=[1,2,3,4,5,6,7,8,9]
list(filter(even_num , nums))

[2, 4, 6, 8]

## check name

In [25]:
def check_name(name):
    return len (name) == 5

names = ['ahmed','rewan','rezk','tamar']
list(filter(check_name , names))

['ahmed', 'rewan', 'tamar']

In [31]:
name=['rawan','rezk','fgs','kj']
list(filter(lambda name : len(name)==5 ,name))

['rawan']

In [32]:
x

# using Lambda with this function

In [6]:
#ex1
x= lambda num1,num2 :num1**num2

In [7]:
x(1,2)

1

In [10]:
#ex2  list comp
x=[i**2 for i in [1,2,3,4,5,6]]

In [11]:
x

[1, 4, 9, 16, 25, 36]

# using map (in ex2) square num

In [13]:
def square(num):
    return num**2


num=[1,2,3,1,2,3,5,15,9]

list(map(square,num))

[1, 4, 9, 1, 4, 9, 25, 225, 81]

# map take the function and the list or the number in the list

In [18]:
def sum(num1,num2):
    return(num1+num2)
num1=[1,2,3,1,2,3]
num2=[4,5,6,4,7,8]
list(map(sum,num1,num2))

[5, 7, 9, 5, 9, 11]