> # Dear Epsilon Students, 
> # The More you practice The better You'll Be.

### Instructions: 
- Make sure that you understand this topics before you start.
- If you found something hard to do, try and try then google it and finally ask someone. 
- You can divide this work into daily tasks so that you do not feel pressure.
- After you finish, go to model answer and rate yourself. 
- If you find something ambiguous, Try to make a hypothesis to solve a problem.

### Question classification: 
- Green is level 1 
- Orange is level 2 
- Red is level 3

# <center> Let's start 💪 </center>

## <p style="color:green;">Q.01 Write a function takes a two-word string and returns True if both words begin with same letter</p>
> ('Levelheaded Llama') → True

> ('Crazy Kangaroo') → False

In [17]:
def animal(string):
    s1, s2 = string.split(' ')
    print(s1[0].upper() == s2[0].upper())

animal("levelheaded Llama")
animal('crazy kangaroo')

True
False

## <p style="color:green;">Q.02 Write a function that returns the lesser of two given numbers if both numbers are even, but returns the greater if one or both numbers are odd</p>

> (2,4) → 2

> (2,5) → 5

In [27]:
def num(n1,n2):
    if (n1%2 and n2%2)==0:
        if n1<n2:
            print(n1)
        else:
            print(n2)
    elif (n1%2 and n2%2)!=0:
        if n1 >n2:
            print(n1)
        else:
            print(n2)
num(2,4)
num(7,8)

2
7

## <p style="color:green;">Q.03 Write a function that capitalizes the first and fourth letters of a name</p>
> ('macdonald') → MacDonald

In [45]:
def macdonald(c):
    mylist = list(c)
    mylist[0] = mylist[0].upper()
    mylist[3] = mylist[3].upper()
    return ''.join(mylist)
macdonald('macdonald')

'MacDonald'

## <p style="color:green;">Q.04 Given a sentence, return a sentence with the words reversed</p>
> ('I am home') → 'home am I'

In [55]:
def reverse_list(s):
    temp_list = list(s)
    temp_list.reverse()
    return ''.join(temp_list)
reverse_list(' i am home')

'emoh ma i '

## <p style="color:orange;">Q.05 Given a list of ints, return True if the array contains a 3 next to a 3 somewhere.</p>
> has_33([1, 3, 3]) → True

> has_33([1, 3, 1, 3]) → False

In [61]:
def has_33(x):
    for i in range(len(x)-1):
        if x[i:i+2] == [3,3]:
            return True
    return False
has_33([1, 3, 3])

True

## <p style="color:orange;">Q.06 BLACKJACK: Given three integers between 1 and 11, if their sum is less than or equal to 21, return their sum. If their sum exceeds 21 and there's an eleven, reduce the total sum by 10. Finally, if the sum (even after adjustment) exceeds 21, return 'BUST'¶</p>

>blackjack(5,6,7) → 18

>blackjack(9,9,9) → 'BUST'

>blackjack(9,9,11) → 19

In [80]:
def blackjack(x,y,z):
    summ=x+y+z
    for i in range (0,12):
    
        if summ <= 21:
            return summ
        elif summ > 21 and 11 in (x,y,z):
            total=summ-10
            
            if total > 21:    
                return 'Bust' 
            else:         
                return total   
        else: 
            return 'Bust'




blackjack(9,9,11)

19

## <p style="color:red;">Q.07 SUMMER OF '69: Return the sum of the numbers in the array, except ignore sections of numbers starting with a 6 and extending to the next 9 (every 6 will be followed by at least one 9). Return 0 for no numbers.</p>
>summer_69([1, 3, 5]) → 9

>summer_69([4, 5, 6, 7, 8, 9]) → 9

>summer_69([2, 1, 6, 9, 11]) → 14

In [81]:
def summer_69(lst):
    it = iter(lst)
    return sum(x for x in it
               if x != 6 or 9 not in it)

summer_69([1, 3, 5])

9

## <p style="color:red;">Q.08 SPY GAME: Write a function that takes in a list of integers and returns True if it contains 007 in order</p>

>spy_game([1,2,4,0,0,7,5]) → True

> spy_game([1,0,2,4,0,5,7]) → True

 >spy_game([1,7,2,0,4,5,0]) → False

In [92]:
def spy_game(nums):
    for i in range(0,len(nums)):
        if nums[i] == 0:
            for x in range(i+1,len(nums)):
                if nums[x] == 0:
                    for y in range(x+1,len(nums)):
                        if nums[y] == 7:
                            return True
                else:
                    return False
spy_game([1,7,2,0,4,5,0])

False

## <p style="color:green;">Q.09 Write a function that checks whether a number is in a given range (inclusive of high and low)</p>

In [2]:
def check(num,low,high):
    
    if num in range(low,high):
        print(num,'is in range')
    else:
        print(num,'is out of the range')
check(100,90,200)

100 is in range

## <p style="color:orange;">Q.10 Write a Python function to multiply all the numbers in a list.</p>
> Sample List : [1, 2, 3, -4]

> Expected Output : -24

In [3]:
def multiplyList(myList):
 
    # Multiply elements one by one
    result = 1
    for x in myList:
        result = result * x
    return result
 
list1 = [1, 2, 3,-4]

print(multiplyList(list1))

-24

## <p style="color:red;">Q.11 Write a Python function that checks whether a passed string is palindrome or not.</p>
>Note: A palindrome is word, phrase, or sequence that reads the same backward as forward, e.g., madam or nurses run.

In [5]:
def isPalindrome(s):
 
    rev = ''.join(reversed(s))
 
    
    if (s == rev):
        return True
    return False
 
s = "mdflmfkbl"
ans = isPalindrome(s)
 
if (ans):
    print("Yes")
else:
    print("No")

No

## <p style="color:green;">Q.12 Write a Python program to create a lambda function that adds 15 to a given number passed in as an argument

In [1]:

add=lambda n : n+15 
add(15)

30

## <p style="color:green;">Q.13 create a lambda function that multiplies argument x with argument y and print the result.</p>

In [5]:
mult= lambda a,b : a*b
mult(126464,1864464)

235787575296

## <p style="color:orange;">Q.14 Write a Python program to filter a list of integers using Lambda. </p>
> Original list of integers:[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

> Even numbers from the said list:[2, 4, 6, 8, 10]

> Odd numbers from the said list:[1, 3, 5, 7, 9]

In [2]:
Originallistofintegers=[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
result1= list(filter(lambda x : (x%2==0),Originallistofintegers))
result2= list(filter(lambda x : (x%2!=0),Originallistofintegers))

print('Even numbers from the said list' ,result1)
print('Odd numbers from the said list:')

Even numbers from the said list [2, 4, 6, 8, 10]

## <p style="color:green;">Q.15 Write a Python program to triple all numbers of a given list of integers. Use Python map.</p>

In [11]:
def power(x):
    return x**3
list(map(power,[1,2,3,4,5,6,7,8,9,10]))
#OR
set(map(power,[1,2,3,4,5,6,7,8,9,10]))

{1, 8, 27, 64, 125, 216, 343, 512, 729, 1000}

## <p style="color:orange;">Q.16 Write a Python program to add three given lists using Python map and lambda.

</p>

In [5]:
lst1=[1,2,3,4,5]
lst2=[5,6,7,8,9,10]
lst3=[11,12,13,14,15,16,17]

print('the oringinal first list: ' ,lst1)
print('second list:  ',lst2)
print('third list: ',lst3)

print('Add three given lists')


add=map(lambda x,y,z :x+y+z, lst1,lst2,lst3)


print(list(add))

the oringinal first list:  [1, 2, 3, 4, 5]
second list:   [5, 6, 7, 8, 9, 10]
third list:  [11, 12, 13, 14, 15, 16, 17]
Add three given lists
[17, 20, 23, 26, 29]

## <p style="color:orange;">Q.17 Write a Python program to square the elements of a list using map() function.</p>

In [7]:
lst=[1,2,3,4,5]

print(' oringinal list is ',lst)
print('square the elements of a list ')

result=map(lambda lst : lst**lst , lst)
print(list(result))

 oringinal list is  [1, 2, 3, 4, 5]
square the elements of a list
[1, 4, 27, 256, 3125]

## <p style="color:green;">Q.18 Using filter() function filter the list so that only negative numbers are left.</p>
> lst1  [12,-1,9,8,-.5,-.2,-100]

In [18]:
lst1= [12,-1,9,8,-.5,-.2,-100]
print('The oraginal list',lst1)

lst=list(filter(lambda x : x > 0 ,lst1))
print(' the new list after filter',lst)

The oraginal list [12, -1, 9, 8, -0.5, -0.2, -100]
 the new list after filter [12, 9, 8]

## <p style="color:green;">Q.19 Using filter function, filter the even numbers so that only odd numbers are passed to the new list.</p>
> lst1  [22,100,19,13,11,1,4,66]

In [17]:
lst1= [22,100,19,13,11,1,4,66]
print('the originai list ', lst1)

newlst=list(filter(lambda x: x%2!=0,lst1))

print('The new list that include only the odd numbers',newlst)

the originai list  [22, 100, 19, 13, 11, 1, 4, 66]
The new list that include only the odd numbers [19, 13, 11, 1]

## <p style="color:green;">Q.20 Using map() and filter() functions add 2000 to the values below 8000.</p>
> lst [1000,500,600,700,5000,90000,17500]

In [5]:
lst1=[1000,500,600,700,5000,90000,17500]
add=[2000]
print('the original list',lst1)

list(filter(lambda x: x<8000 ,lst1+add ) )

the original list [1000, 500, 600, 700, 5000, 90000, 17500]

[1000, 500, 600, 700, 5000, 2000]

# <center> Thank's for your effort ❤️ </center>